body {
    background-color: #222;
}

input[type=text] {
    width: 300px;
    text-align: center;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid lightgreen;
    border-radius: 4px;
    box-sizing: border-box;
    transition: width 1s ease-in ;
}

input:focus { 
    border: 5px solid lightgreen;
    width: 100px;
}
